@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 90vw;
    }

    div#picture {
        float: left;
        width: 40%;
        height: 100%;
        background-position: bottom right;
    }
    
    div#form {
        float: right;
        width: 60%;

    }

}