@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #3CA6A6,#026773);
    }

    section#login {
        width: 80vw;
    }

    div#picture {
        float: left;
        width: 45%;
        height: 100%;
        background-position: bottom right;
    }
    
    div#form {
        float: right;
        width: 55%;
        height: 100%;
        padding-top: 17%;
        

    }

}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #3CA6A6,#026773, #024959);
    }
    section#login {
        width: 950px;
    }
    div#picture {
        float: right;
        width: 50%;
        height: 100%;
        background-position: bottom right;
    }   
    div#form {
        float: left;
        width: 50%;
        height: 100%;
        padding-top: 11%;
    }
    
}
