@charset "UTF8";

/* Cores 
azul forte:#012E40
azul medio:#024959
azul normal:#026773
azul fraco:#3CA6A6
bege:#F2E3D5
*/

* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #3CA6A6;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;   
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border-radius: 20px;
    width: 250px;
    height: 500px;
    overflow: hidden;
    display: block;

    transition:  width 0.3s,  heigth 0.3s;
}

div#form {
    padding: 20px;
    text-align: center;
    display: block;
}

div#form h1 {
    padding-bottom: 10px;

}

div#picture {
    background: url(../imagens/pexels-pixasquare-1123982.jpg) no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 200px;
    display: block;

}

