@charset "UTF8";

/* Cores 
azul forte:#012E40
azul medio:#024959
azul normal:#026773
azul fraco:#3CA6A6
bege:#F2E3D5
*/

* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #3CA6A6;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;   
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border-radius: 20px;
    width: 250px;
    height: 500px;
    overflow: hidden;
    display: block;
    margin: 10px auto;
    text-align: center;

    transition:  width 0.3s,  heigth 0.3s;
}



div#form h1 {
    padding-bottom: 10px;
    padding: 10px;

}

div#form p {
    padding: 10px;

}

div#picture {
    background: url(../imagens/pexels-pixasquare-1123982.jpg) no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 200px;
    display: block;

}

input.botao {
    display: block;
    width: 90%;
    height: 30px;
    background-color: #012E40;
    border-radius: 10px;
    color: aliceblue;
    margin: 10px auto;
    font-size: 1em;
}

input.botao:hover {
    background-color: #024959;
    transition: 0.5s;
}

form a.esqueci {
   display: block;
   background-color: white;
   border: 1px solid #012E40; 
   width: 90%;
   height: 30px;
   text-align: center;
   text-decoration: none;
   color: #012E40;
   border-radius: 10px;
   margin: auto;
   padding-top: 2px;
}

form a.esqueci:hover {
    background-color: #026773;
    color: white;
    transition: 0.5s;
}

form a.esqueci > span {
    font-size: 0.8em;
    
}

form div.campo {
    background-color: #012E40;
    padding: 2px;
    margin: 5px auto;
    border-radius: 10px;
    width: 90%;
    height: 40px;
}

form div.campo > input {
    width: 80%;
    height: 30px;
    border-radius: 4px;

}

span.material-symbols-outlined {
    color: #ffffff;
}

span#mail {
    color: #012E40;
}

span#mail:hover {
    color: white;
}

form div.campo > label {
    display: none;
}



